
  .sidenav-header{
    display: flex;
        align-items: center;
       
  }

  

  .sidenav-menu {
    display: flex;
flex-direction: column;
align-items: flex-start;
}
  

  

  .sidenav-container {
    display: flex;
    margin-top: 64px; /* Deja espacio debajo del navbar */
    height: calc(100vh - 64px); /* 64px es el alto del navbar */
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
  }
  
  .sidenav {
    width: 250px;
    color: black;
    position: relative; /* Necesario para que el sidebar no quede encima del navbar */
 position: absolute;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


  .container-form-list {
    flex: 1;
 
    display: flex;
    flex-direction: column;
 
 
    margin-top: 93px;
    margin-left: 50px;

  }