<h2  mat-dialog-title>Editar Estudiante</h2>
<h3 mat-dialog-title class="namestudent-edit-student">{{ studentData.firstName }} {{ studentData.lastName }}</h3>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nota</mat-label>
    <input matInput type="number" [(ngModel)]="studentData.note">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="studentData.course">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Estado</mat-label>
    <mat-select [(ngModel)]="studentData.isActive">
      <mat-option [value]="true">Activo</mat-option>
      <mat-option [value]="false">Inactivo</mat-option>
    </mat-select>
  </mat-form-field>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
