
<!--MOLDE DE COMPONENTE CARD ALUMNO-->
  
  <div  *ngFor="let alumno of students1;">
    <div class="card" style="width: 18rem;">
      <img *ngIf="alumno.picture" [src]="alumno.picture" class="card-img-top" alt="Card image">
      <div class="card-body">
        <h2 class="card-title">{{ alumno.firstName }} {{ alumno.lastName }}</h2>
        <h3>Fecha Nac: {{alumno.age|birthYear}}</h3> <!--Pipe de que calcula la fecha de nacimiento con la edad-->
        <h3 >
          Edad: {{ alumno.age }}
        </h3>
        <p class="card-text" [ngClass]="{
          isMinor: (alumno.note ?? 0) <= 5,
          isOlder: (alumno.note ?? 0) >= 6
      }">Nota: {{ alumno.note }}</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>

