/* estudiantes.component.css */
.students-section {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  
  /* Contenedor de las tarjetas de estudiantes */
  .students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cuatro columnas como mínimo */
    gap: 20px;  /* Espacio entre las tarjetas */
    grid-auto-rows: minmax(200px, auto); /* Altura mínima de cada card */
  }
  
  /* Estilos adicionales para las tarjetas si es necesario */
  app-card {
    display: contents;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto hover para las tarjetas */
  app-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  