<mat-toolbar class="navbar" color="primary">
    <!-- Menú hamburguesa -->
    
    
    <!-- Título centrado -->
     <div class="title-container-navbar">
      <img src="https://cdn.cookielaw.org/logos/ffef8acc-d836-4aba-9461-f5d802e9b675/018f591d-de60-736b-95a9-a5c3158dc2c2/0642626f-a098-4791-89c9-9b269fc12d5c/Nova-02.png" width="50px" alt=""><span class="title"> CODERVERSE</span>
  </div>
    
    <div class="conent-userifo-navbar">
      <h3>{{ userName }}</h3>
    <button mat-flat-button (click)="logout()">Logout</button>
  </div>
  </mat-toolbar>
  