<h2 mat-dialog-title>Agregar Alumno</h2>

<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="firstName" />
    <mat-error *ngIf="formGroup.get('firstName')?.hasError('required')">
      El nombre es obligatorio.
    </mat-error>
    <mat-error *ngIf="formGroup.get('firstName')?.hasError('minlength')">
      El nombre debe tener al menos 3 caracteres.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error *ngIf="formGroup.get('lastName')?.hasError('required')">
      El apellido es obligatorio.
    </mat-error>
    <mat-error *ngIf="formGroup.get('lastName')?.hasError('minlength')">
      El apellido debe tener al menos 3 caracteres.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
      El email es obligatorio.
    </mat-error>
    <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
      El formato del email no es válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Curso</mat-label>
    <mat-select formControlName="course">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="React">React</mat-option>
      <mat-option value="Vue">Vue</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('course')?.hasError('required')">
      El curso es obligatorio.
    </mat-error>
  </mat-form-field>


<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
</mat-dialog-actions>
