

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
  <h2>Formulario de Alumnos</h2>
  <mat-form-field class="full-width">
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Course</mat-label>
    <mat-select formControlName="course">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-flat-button type="submit">Enviar</button>

</form>


