<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div>
  <mat-form-field >
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
      El email es obligatorio
    </mat-error>
    <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
      Email inválido
    </mat-error>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
      La contraseña es obligatoria
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Mínimo 4 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('role')?.hasError('required')">
      El rol es obligatorio
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Add User</button>
  </div>
</form>
