<!-- form.component.html -->
<form (ngSubmit)="submit()">
  <input [(ngModel)]="fullName" name="fullName" placeholder="Nombre completo" required />
   <input [(ngModel)]="password" name="password" placeholder="Password" required />
  <input [(ngModel)]="email" name="email" placeholder="Email" required />
  <select [(ngModel)]="role" name="role">
    <option value="admin">Admin</option>
    <option value="user">User</option>
  </select>
  <label>
    <input type="checkbox" [(ngModel)]="isActive" name="isActive" />
    Activo
  </label>
  <button type="submit">Agregar usuario</button>
</form>
