.container-table{
    width: 90%;
 
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.5)
}

.container-form{
    width: 90%;
}

.title-dashboard-admin-students{
    font-size: 2rem;
}

.btn-openForm-addStudent{
    margin-bottom: 1rem;
}