<h2 appTitleSize>Administrador de Alumnos</h2>
<!-- Escuchamos el evento studentAdd y llamamos al método en el padre -->
 <div class="container-form">

<button mat-raised-button class="btn-openForm-addStudent" color="primary" (click)="opendialogFormAddStudent()">+ Agregar Alumno</button>
</div>
<!-- Le pasamos la lista al componente lista -->
 <div class="container-table">
    <app-table-students 
    [students]="students" 
    (selectedStudent)="openDialogDeleteStudent($event)"
    (editarEstudiante)="openDialogEditStudent($event)">
  </app-table-students>
  
</div>