<h2 mat-dialog-title>Editar Estudiante</h2>
<h3 mat-dialog-title class="namestudent-edit-student">{{ studentData.firstName }} {{ studentData.lastName }}</h3>

<mat-dialog-content>


  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Course</mat-label>
    <mat-select [(ngModel)]="studentData.course">
      <mat-option
      *ngFor="let course of courseNames"
      [value]="course.toLowerCase()"
      >{{ course }}</mat-option
    >
  </mat-select>


  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
  <mat-label>State</mat-label>
  <mat-select [(ngModel)]="studentData.isActive">
    <mat-option [value]="true">Active</mat-option>
    <mat-option [value]="false">Inactive</mat-option>
  </mat-select>

</mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
